para {
	color: #FF5733;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
title1 {
	color: #FFC300;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Corben', Georgia, Times, serif;
}

#code{
	display:block;
	padding: 0 0 0 0;
	text-align: left;
}


#mainDiv{
	margin: auto;
	width: 90%; 
	height: auto; 
	background: white; 
	padding: 1%;
	border: 0px;
}

#container{
	text-align:center;
}

.buttons{
	border: none;
	color: #DAF7A6;
	background-color: #C70039;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.projects{
	flex: 1 1 0px;
}

.resume{
	flex: 1 1 0px;
	text-align: right;
}

.contact{
	flex: 1 1 0px;
	cursor: pointer;
	color: blue;
	text-align: center;
	text-decoration: underline;
	background-color: white;
	border: none;
	font-size: 28px;
	font-family: "Times New Roman";
}

contact:hover{
	text-decoration: none;
	text-shadow: 1px 1px 1px #555;
}

.tab{
	tab-size: 4;
}

.info{
	text-align: middle;
	font-size: 25px;
	display: flex;
	flex-direction: row;
}